@font-face {
  font-family: JustSans;
  src: url(/fonts/JustSans.otf) format("opentype");
}
@font-face {
  font-family: WixReg;
  src: url(/fonts/WixMadeforDisplay-Regular.ttf);
}

@font-face {
  font-family: WixDisplayBold;
  src: url(/fonts/WixDisplayBold.ttf);
}

@font-face {
  font-family: SublimaBold;
  src: url(/fonts/Sublima-ExtraBold.otf) format("opentype");
}

.nav {
  position: fixed;
  z-index: 2;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.logo {
  text-decoration: none;
  margin-left: 1em;
  color: #18181c;
  font-family: SublimaBold;
  font-weight: 'bolder';
  font-size: xx-large;
}

.menu-toggle {
  cursor: pointer;
}

.nav-overlay {
  position: fixed;
  background: #18181c;
  z-index: -2;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 4em;
  transition: all 1.75s cubic-bezier(0.15, 1, 0.3, 1);
}

.hamBox {
  margin-right: 1em;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 40%;
  transition: 0.3s ease;
  padding: 2em;
  background: transparent;
  caret-color: transparent;
}

.hamBox:hover {
  background:transparent;

  
}

.hamBoxOpen {
  background: transparent;
}

.lineTop, .lineBot {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 2px;
  background: #18181c;
  left: 0;
  right: 0;
  transform: rotate(0deg);
  transition: all 0.4s;
}

.lineTop {
  top: 2.2em;
}

.lineTop.spin {
  top: 2em;
  transform: rotate(135deg);
  background: #fff;
}

.lineBot {
  bottom: 2.4em;
} 

.lineBot.spin {
  bottom: 1.95em;                         
  transform: rotate(225deg);  
  background: #fff;
}
