@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Baskerville;
  src: url(../public/fonts/Baskervville-Regular.ttf);
}

html, body {
  font-family: Baskerville;
}